<div class="container-has">
    <div class="btnFlex">
        <button>Become a Partner</button>
        <button (click)="onsignupPage()">Sign up</button>
    </div>
    <div class="logo">
        <!-- <img class="logoHas" src="./images/logowithText-01.png" alt=""> -->
        <img class="logoHas" src="../../../assets/images/logowithText-01.png" alt="">
    </div>
    <div class="details">
        <p class="p-welcome">WELCOME TO HASEATS</p>
        <h1 class="heading">YOUR FAVOURITE FOOD AND DELIVERY PARTNER</h1>
        <h2 class="info">TAKEWAYS , RESTAURANT & GROCERIES</h2>
    </div>
    <!-- <div class="searchBar">
        <div class="inputTag">
            <input type="search" placeholder="post code / address">
        </div>
        <div>
            <button class="btn-search">search</button>
        </div>
    </div> -->
</div>
<div class="steps">
    <h1 class="stepsHeading">ENJOY YOUR FOOD</h1>
    <div class="boxCont">
        <div class="stepBox">
            <img class="imgBox" src="../../../assets/images/1-01.png" alt="">
        </div>
        <div class="stepBox">
            <img class="imgBox" src="../../../assets/images/2-01.png" alt="">
        </div>
        <div class="stepBox">
            <img class="imgBox" src="../../../assets/images/3-01.png" alt="">
        </div>
        <div class="stepBox">
            <img class="imgBox" src="../../../assets/images/4-01.png" alt="">
        </div>
        <div class="stepBox">
            <img class="imgBox" src="../../../assets/images/5-01.png" alt="">
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <h3>Haseats Food Delivery</h3>
        <p>
            At Haseats, we are passionate about connecting food lovers with the best culinary experiences from their favorite local restaurants. Our platform is designed to make food ordering easy,
             convenient, and enjoyable, all from the comfort of your own home.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">HASEATS</a>  </p>
    </div>

</footer>
